.navbar-brand img {
    height: 40px;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
  }
  
  .nav-link {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }  